
<!DOCTYPE html>
<html lang="en">
{% include 'barnav.html' %}

<!-- Fichier avec les informations des assurances des membres -->

<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<br>
<body>
 <br><br><br><br>

<!--Tableau avec les informations des Assurances par personnes-->
<div class="container">
  <h2>Informations assurances</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th>civilité</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Nom Assurance</th>
          <th>Mode paiement</th>
          <th>Montant</th>
          <th>Nombre de chéques</th>
          <th>Envoyer une notification</th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr>{% for adherent in adherents %}
          <td>{{ adherent.CIVILITE }}</td>
          <td>{{ adherent.NOM }}</td>
          <td>{{ adherent.PRENOM }}</td>
          <td>{{ adherent.NUM_LICENCE  }}</td>
          <td>{{ adherent.MODE_PAIEMENT  }}</td>
          <td>{{ adherent.MONTANT }}</td>
          <td>{{ adherent.NB_CHEQUE  }}</td>
          <!-- envoye une notification au membre pour son assurance-->
          <td><button type="button" class="btn btn-danger" onclick = NotifassuranceTresorier = 1 >Envoyer une notification</button></td>

      </tr>{% endfor %}
    </tbody>
  </table>
</div>
</body>

</html>