
<!DOCTYPE html>
<html lang="en">
{% include 'barnav.html' %}

    <!--Fichier pour la secretaire pour la gestion des membre-->

<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<br>


<body>
<div class="container">
<h2><p class="text-center">Gestion des membres</h2></p>

<!-- Tableaux avec l'identiter de tout les membres et des actions pouvant etre fait-->
<table class="table">
    <thead class="thead-dark">
      <tr>
          <th>civilité</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Clé moulin</th>
          <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr>{% for adherent in adherents %}
          <td>{{ adherent.CIVILITE }}</td>
          <td>{{ adherent.NOM }}</td>
          <td>{{ adherent.PRENOM }}</td>
          <!-- Checkbox pour donner ou enlever les droits de possession de la clé moulin-->
          <td>
            <div class="form-check">
              {% if  adherent.CLE_MOULIN == true %}
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              {% else %}
                         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              {% endif %}
              <label class="form-check-label" for="flexCheckChecked">Droit à la clé</label>
              </div>

          </td>
          <!-- bouton avec toute les action que le secretaire peut faire-->
          <td class="d-grid gap-1 col-6 mx-auto ">
              <button type="button" class="btn btn-danger border border-dark btn-sm mr-3">Ajouter Licence</button>
              <button type="button" class="btn btn-danger border border-dark btn-sm mr-3">Ajouter Assurance</button>
              <button type="button" class="btn btn-danger border border-dark btn-sm mr-3">Location</button>
              <button type="button" class="btn btn-danger border border-dark btn-sm mr-3">Supprimer utilisateur</button></td>
      </tr>{% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>

