
<!DOCTYPE html>
<html lang="en">
{% include 'barnav.html' %}
<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<br>
<body>
 <br><br><br><br>

<!--Tableau avec les informations des licences par personnes-->
 <div class="container">
  <h2>Informations Licences</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th>civilité</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Nom Licence</th>
          <th>Mode paiement</th>
          <th>Montant</th>
          <th>Nombre de chéques</th>
          <th>Envoyer une notification</th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr>{% for adherent in adherents %}
          <td>{{ adherent.CIVILITE }}</td>
          <td>{{ adherent.NOM }}</td>
          <td>{{ adherent.PRENOM }}</td>
          <td>{{ assurance_complementaire.NOM_ASSURANCE }}</td>
          <td>{{ assurance_complementaire.MODE_PAIEMENT }}</td>
          <td>{{ assurance_complementaire.MONTANT }}</td>
          <td>{{ assurance_complementaire.NB_CHEQUE }}</td>

          <td><button type="button" class="btn btn-danger">Envoyer une notification</button></td>

      </tr>{% endfor %}
    </tbody>
  </table>
</div>
</body>

</html>