{% include 'base.html' %}
<header>
    {% include 'header.html' %}
    {% load auth_extras %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<body>
<div class="clearfix">
    <a class="btn btn-primary mr-2" href="{% url 'evenement:calendar' %}?{{ prev_month }}"> << Mois precedent </a>
	<a class="btn btn-primary mr-2" href="{% url 'evenement:calendar' %}?{{ next_month }} ">Mois suivant >> </a>
{% if request.user|has_group:"Directeur_De_Plongee" %}
    <a class="btn btn-outline-primary right mr-2" href="{% url 'evenement:event_new' %}"> + Nouvelle evenement </a>
{% endif %}
</div>
<div style="color: springgreen;">
    {{ calendar }}
</div>
</body>

