{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'evenement:calendar' %}"> Calendrier </a>
        </div>
        
        <div class="clearfix">
            <h3>Event Name: {{ event.title }}</h3>
            <p>From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: blue;">{{ event.end_time }}</span></p>
            <hr>
            <p>{{ event.description }}</p>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" >Membre de l'évenement</h4>
            <a class="btn btn-success right" href="{% url 'evenement:add_eventmember' event.id %}"> Ajouter membre </a>
        </div>
        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'evenement:remove_event' member.id %}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}
{% block title %}
Supprimer l'évenement
{% endblock %}

{% block content %}
    <h1>Supprimer</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Voulez vous vraiment supprimez cet évenement</p>
        <button class="btn btn-danger ml-2" type="submit">Confirmer</button>
    </form>
{% endblock content %}