
<!DOCTYPE html>
<html lang="en">
{% include 'barnav.html' %}
<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<br>
<body>
 <br><br><br><br>
<div class="container">
  <h2>Annuaire classique</h2>
  <table class="table table-bordered table-striped" id="table_classique">
    <thead class="thead-dark">
      <tr>
          <th><i class="fa fa-fw fa-sort"></i>Photo</th>
          <th><i class="fa fa-fw fa-sort"></i>civilité</th>
          <th><i class="fa fa-fw fa-sort"></i>Nom</th>
          <th><i class="fa fa-fw fa-sort"></i>Prénom</th>
          <th><i class="fa fa-fw fa-sort"></i>Rôle</th>
          <th><i class="fa fa-fw fa-sort"></i>Clé du moulin</th>
          <th><i class="fa fa-fw fa-sort"></i>Email</th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr>{% for adherent in adherents %}
          <td>{{ adherent.PHOTO }}</td>
          <td>{{ adherent.CIVILITE }}</td>
          <td>{{ adherent.NOM }}</td>
          <td>{{ adherent.PRENOM }}</td>
          <td>{{ adherent.ROLE_ADHERENT }}</td>
             {% if adherent.CLE_MOULIN == True %}
                 <td>Oui</td>
             {% else %}
                 <td>Non</td>
             {% endif %}
          <td>{{ adherent.EMAIL }}</td>
      </tr>{% endfor %}
    </tbody>
  </table>
</div>
</body>

</html>