<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <!-- intégration de la barnav -->
    {% include 'barnav.html' %}
    <!-- Required meta tags-->
    <meta charset="UTF-8">

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        {% load static %}
    <!-- integration du CSS de LA page -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->


</head>

<body>

{% for adhe in adhe %}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title"> detail du membre {{ adhe.NOM }} {{ adhe.PRENOM }}</h2>
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nom : {{ adhe.NOM }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Prenom : {{ adhe.PRENOM }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">date de naissance : {{ adhe.DATE_NAISSANCE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">civilité : {{ adhe.CIVILITE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email : {{ adhe.EMAIL }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Numéro de téléphone portable : {{ adhe.TEL_PORT }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 1 : {{ adhe.ADD_1 }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 2 : {{ adhe.ADD_2}}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 3 : {{ adhe.ADD_3 }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adhésion : {{ adhe.ADHESION }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Allergie : {{ adhe.ALLERGIE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clé du moulin : {{ adhe.CLE_MOULIN }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Club : {{ adhe.CLUB }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Code postal : {{ adhe.CP}}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 3 : {{ adhe.ADD_3 }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adhésion : {{ adhe.ADHESION }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Allergie : {{ adhe.ALLERGIE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clé du moulin : {{ adhe.CLE_MOULIN }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

{% endfor %}
</body>

</html>
<!-- end document-->