<!DOCTYPE html>
<html lang="en">

<header>
    <!-- intégration de la page contenant les bibliothèque JS/Bootstrap/CSS/JQuery -->
    {% include 'header.html' %}
      {% include 'barnav.html' %}
    {% load static %}
    <!-- integration du CSS de LA page -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</header>

<body>

{% for adhe in adhe %}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title"> detail du membre {{ adhe.NOM }} {{ adhe.PRENOM }}</h2>
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nom : {{ adhe.NOM }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Prenom : {{ adhe.PRENOM }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">date de naissance : {{ adhe.DATE_NAISSANCE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">civilité : {{ adhe.CIVILITE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email : {{ adhe.EMAIL }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Numéro de téléphone portable : {{ adhe.TEL_PORT }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 1 : {{ adhe.ADD_1 }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 2 : {{ adhe.ADD_2}}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 3 : {{ adhe.ADD_3 }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adhésion : {{ adhe.ADHESION }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Allergie : {{ adhe.ALLERGIE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clé du moulin : {{ adhe.CLE_MOULIN }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Club : {{ adhe.CLUB }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Code postal : {{ adhe.CP}}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adresse 3 : {{ adhe.ADD_3 }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Adhésion : {{ adhe.ADHESION }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Allergie : {{ adhe.ALLERGIE }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clé du moulin : {{ adhe.CLE_MOULIN }}</label>
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</body>

</html>
<!-- end document-->