{% include 'barnav.html' %}
<!DOCTYPE html>
<html lang="en">
<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<br>
<body>
 <br><br><br><br>
<div class="table-responsive">
  <h2>Annuaire général</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Photo</th>
        <th>Civilité</th>
        <th>Nom</th>
          <th>Prénom</th>
          <th>Rôle</th>
          <th>Email</th>
          <th>action</th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr>{% for adherent in adherents %}
          <td>{{ adherent.PHOTO }}</td>
          <td>{{ adherent.CIVILITE }}</td>
          <td>{{ adherent.NOM }}</td>
          <td>{{ adherent.PRENOM }}</td>
          <td>{{ adherent.ROLE_ADHERENT }}</td>
          <td>{{ adherent.EMAIL }}</td>
          <td><a class="btn btn-success right" href="{% url 'detail' adherent.id %}"> Detail </a></td>
      </tr>{% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>