{% include 'barnav.html' %}
<!DOCTYPE html>
<html lang="en">
<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>
<br>
<body>
 <br><br><br><br>
<div class="container">
  <h2>Annuaire de sécurité</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
          <th>Remarque.s</th>
          <th>Allergie</th>
          <th>Personne à contacté</th>
          <th>Numéro de la personne à contacté</th>
          <th>Médecin référent</th>
          <th>Numéro du médecin</th>
      </tr>
    </thead>
    <tbody>
    <tbody>
      <tr>{% for adherent in adherents %}
        <td>{{ adherent.PHOTO }}</td>
        <td>{{ adherent.NOM }}</td>
        <td>{{ adherent.PRENOM }}</td>
          <td>{{ adherent.REMARQUE }}</td>
          {% if adherent.ALLERGIE == True %}
                 <td>Oui</td>
             {% else %}
                 <td>Non</td>
             {% endif %}
          <td>{{ adherent.PER_CONTACT }}</td>
          <td>{{ adherent.NUM_PER_CONTACT }}</td>
          <td>{{ adherent.MDC_REF }}</td>
          <td>{{ adherent.NUM_TEL_MDC }}</td>
      </tr>{% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>