<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="img"><img class="d-block img-fluid" src="#"></div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Accueil</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Annuaire <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Classique</a></li>
          <li><a href="#">Sécurité</a></li>
          <li><a href="#">Général</a></li>
        </ul>
      </li>
      <li><a href="#">Evènements</a></li>
      <li><a href="#">Notification</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#" data-toggle="modal" data-target="#inscription"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
    <li><a href="#" data-toggle="modal" data-target="#connexion"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>                            <br><br>
    </ul>
  </div>
</nav>

 <!-- Création de la fenetre de connexion -->
<div class="modal fade connexion" id="connexion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">CONNEXION</h4>
                    <h6 class="font-weight-light">Veuillez saisir vos identifiant et mot de passe</h6>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <form role="form" id="formInscription" method="POST">
                            <label for='login' style="padding-top: 5px;">Email</label>
                            <input type='text' id="email" name='email' class="form-control" style='width: 80%;' placeholder='Email'>
                            <br>
                            <label for='password'>Mot de passe </label>
                            <input type='password' id="password" name='password' class='form-control' style='width: 80%;' placeholder='Mot de passe'>
                            <br>
                            <input type='submit' class='btn btn-primary' id="submit" value='Connexion' name='Connexion'>
                            <input type='submit' class='btn btn-info' value='Mot de passe oublié ?' name='forgetPassword'>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Création de la fenetre d'inscription -->
    <div class="modal fade inscription" id="inscription" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">INSCRIPTION</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="formInscription" method="POST">
                        <div class="form-group">
                            <!-- Choix multiple pour choisir son sexe -->
                            <label for="exampleFormControlSelect1">Civilité</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                               <!-- Choix 1 -->
                                <option>Monsieur</option>
                               <!-- Choix 2 -->
                                <option>Madame</option>
                            </select>
                        </div>
                        <!-- L'utilisateur doit rentrer son nom -->
                        <div class="form-group">
                          <label for='login' style="padding-top: 5px;">Nom</label>
                          <input type='text' id="nom" name='nom' class="form-control" style='width: 80%;' placeholder='Nom'>
                        </div>
                        <!-- L'utilisateur doit rentrer son prenom -->
                        <div class="form-group">
                          <label for='login' style="padding-top: 5px;">Prenom</label>
                          <input type='text' id="prenom" name='prenom' class="form-control" style='width: 80%;' placeholder='Prenom'>
                        </div>
                        <!-- L'utilisateur doit rentrer son email -->
                        <div class="form-group">
                        <label for='login' style="padding-top: 5px;">Email</label>
                        <input type='text' id="login" name='login' class="form-control" style='width: 80%;' placeholder='Email'>
                        </div>
                        <!-- L'utilisateur doit rentrer son mot de passe -->
                        <div class="form-group">
                        <label for='password'>Mot de passe </label>
                        <input type='password' id="password" name='password' class='form-control' style='width: 80%;' placeholder='Mot de passe'>
                        </div>
                        <!-- L'utilisateur doit rentrer son mot de passe -->
                        <div class="form-group">
                        <label for='password'>Confirmer votre mot de passe </label>
                        <input type='password' id="password" name='password' class='form-control' style='width: 80%;' placeholder='Confirmer votre mot de passe'>
                        </div>
                        <br>
                         <!-- Bouton inscription -->
                        <input type='submit' class='btn btn-primary' id="submit" value='Inscription' name='Inscription'>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
