<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center"></div>
        <!--Grid row-->
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Ce site a été developpé par Benoit, Gurvan et Armand.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
          <div class="d-flex justify-content-center" >
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
              <h5 class="text-uppercase">Lien externe</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a href="http://gissacg.free.fr" class="text-white">Site GISSACG</a>
                </li>
               <li>
                 <a href="https://www.palanquee.com/plongee" class="text-white">Palanquee</a>
               </li>
               <li>
                 <a href="https://www.tourismebretagne.com/destinations/les-10-destinations/cote-de-granit-rose-baie-de-morlaix/ploumanach-perros-guirec/" class="text-white">Ploumanac'h</a>
                </li>
                 <li>
                     <a href="https://www.gralon.net/mairies-france/cotes-d-armor/association-groupe-d-intervention-et-de-sports--subaquatiques-de-la-cote-de-granit-gissacg-perros-guirec_W223000301.htm" class="text-white">Gralon</a>
                 </li>
              </ul>
            </div>
          </div>
      </div>
        <!--Grid column-->
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="">GISSACG</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->