<!DOCTYPE html>

<html lang="en">
{% include 'barnav.html' %}
<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>

        <!-- Google fonts-->
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="{% static 'assets/img/avataaars.svg' %}" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Bienvenue sur l'intranet du GISSACG</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            {% for Adherent in Adherent %}
                <p class="masthead-subheading font-weight-light mb-0">{{ Adherent.Nom }} {{ Adherent.Prenom }}</p>
            {% endfor %}
        </div>
    </header>
{% endblock %}
{% include 'footer.html' %}
</html>
