{% include 'barnav.html' %}

<header>
    {% include 'header.html' %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</header>

<!-- Fichier pour regroupent les notification envoyer-->

{% block body %}
<br><br>
    <!-- mettre au singulier si il n'y a qu'une notif-->
    <h2>Bienvenue sur la page des notification</h2>
    {% if NB_NOTIF <= 1 %}
        <h5>Vous avez {{ NB_NOTIF }} notification </h5>
    {% else %}
        <h5>Vous avez {{ NB_NOTIF }} notifications </h5>
    {% endif %}
<br>
         <!-- Envoye un notification du tresorier pour rappeller de payer la licence -->
        {% if compt == 1 %}
             <div class="alert alert-danger border border-dark " role="alert">
                <!--Bouton pour ne plus afficher les notifs, le tresorier doit la renvoyer si il souhaite la réafficher envoye egalement un message vue aux tresorier si il clique dessus-->
                <!-- pas fait -->
                 <button type="hidden" value="1" class="btn btn-danger position-absolute top-50 end-0 translate-middle-y mr-3">Vue</button>
                Vous devez payer votre licence.
            </div>
        {% endif %}

     <!-- Envoye un notification du tresorier pour rappeller de payer l'assurance -->
        {% if compt3 == 1 %}
             <div class="alert alert-danger border border-dark" role="alert">
                 <!--Bouton pour ne plus afficher les notifs, le tresorier doit la renvoyer si il souhaite la réafficher envoye egalement un message vue aux tresorier si il clique dessus-->
                 <!-- pas fait -->
                 <form action="{% url 'notif:notification' %}" method="post">
                     {% csrf_token %}
                <button type="submit" class="btn btn-danger position-absolute top-50 end-0 translate-middle-y mr-3">Vue </button>
                Vous devez payer votre assurance.
                 </form>
            </div>
        {% endif %}

        <!-- Si la date du jour est supérieur a la date d'alerteLicence, affiche un notification -->
        {% if compt1 == 1 %}
             <div class="alert alert-primary border border-dark " role="alert">
            <!-- la notif disparait si la licence est renouveler-->
               Il vous reste moins d'un mois pour renouveler votre licence.
            </div>
        {% endif %}

        <!-- Si la date de fin arriver est superieur a l'alerteCertif-->
        {% if compt2 == 1 %}
             <div class="alert alert-primary border border-dark" role="alert">
                <!-- la notif disparais si la certification medical est renouveler ou si la date du jour est supérieur à celle de la fin du certificat-->
               Votre certificat medical expire {{ Fcertif }}, il vous reste moins de 2 semaines pour la renouveler.

            </div>
        {% endif %}

        <!--si le membre ce connecte pour la 1er fois, il reçois ue notif pour l'inviter a remplir c'est information dans gestion de profile-->
        {% if compt4 == 1 %}
             <div class="alert alert-primary border border-dark" role="alert">
                <!-- la notif disparais si toute les info dans gestion de profile sont completer (num fixe, adresse 2 et 3 peuvent ne pas etre remplis )-->
               Veuiller remplir vos information dans votre gestion de profile.
                 <a href="{% url 'accounts:gestion' user.id  %}">Modifier</a>
            </div>
        {% endif %}




{% include 'footer.html' %}
{% endblock %}